* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

:root {
    --green-main: hsla(172, 95%, 18%, 1);
    --green-secondary: hsla(172, 95%, 18%, 1);
    --beige: hsla(36, 31%, 90%, 1);
}

body {
    background: var(--beige) !important;
    color: white !important;
    overflow: hidden !important;
    overflow-y: scroll !important;
}

a {
    color: white !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none !important;
}

button {
    color: black !important;
}