* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(30, 30, 30) !important;
    color: white !important;
    overflow: hidden !important;
    overflow-y: scroll !important;
}

a {
    color: white !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none !important;
}

button {
    color: black !important;
}